#_div__title #_title {
  color: green;
  text-align: center;
  border:1px solid white;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
}

#_div__title img {
  height: 75px;
  width: 75px;
  margin: 0 center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

._toggle__phishing_plugin {
  margin-left: auto;
  margin-right: auto;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
